In [1]:
%matplotlib notebook

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
import os

from datetime import datetime, timedelta

In [3]:
file01_path  = "data/export/subscriber_weightlossdata.csv"
#file02_path  = "data/import/00_subscribers.csv"
#file03_path  = "data/import/00_subscribers.csv"

file01_df = pd.read_csv(file01_path, encoding = "ISO-8859-1")

In [10]:
file01_df.head(1)

,SSID,PID,GENDER,ZIP_CODE,PATIENT_SINCE_DATE,BIRTH_YEAR,USER_PLAN,FIRST_PAYMENT_DATE_PLAN,LAST_PAYMENT_DATE_PLAN,TRANSACTION_COUNT,...,LAST_NAME,POUNDS_LOST,MEMBER,PID.1,PATIENT_ID,MONTHLY_INITIAL_SESSION,MONTHLY_INITIAL_VISIT_WEIGHT,MONTHLY_END_VISIT_WEIGHT,MONTHLY_END_VISIT_DATE,MONTHLY_END_SESSION
0,115,10AguM3828,F,91791.0,10/4/2018,1969.0,wellnessplus,10/4/2018,12/4/2018,5.0,...,NaN,7.8,WPM,10AguM3828,NaN,1.0,166.3,158.5,10/30/2018,3.5

In [6]:
file01_df.count()

SSID                            59432
PID                             59432
GENDER                          59431
ZIP_CODE                        56655
PATIENT_SINCE_DATE              59317
BIRTH_YEAR                      59294
USER_PLAN                       58221
FIRST_PAYMENT_DATE_PLAN         57986
LAST_PAYMENT_DATE_PLAN          58465
TRANSACTION_COUNT               59089
TOTAL_SPENT                     59432
PROCESSOR                       59432
CUSTOMER_STATUS                 59432
CLINIC_ID                       59432
MEMBER_CODE                     59432
MEMBER_STATUS                   59432
WT_ID                           58733
NUM_VISITS                      58733
CLINIC_ID.1                     58733
MONTHLY_INITIAL_VISIT_DATE      58733
FIRST_NAME                       5650
LAST_NAME                        5650
POUNDS_LOST                     58733
MEMBER                          58731
PID.1                           58733
PATIENT_ID                       5650
MONTHLY_INITIAL_SESSION         32047
MONTHLY_INITIAL_VISIT_WEIGHT    58733
MONTHLY_END_VISIT_WEIGHT        58733
MONTHLY_END_VISIT_DATE          58733
MONTHLY_END_SESSION             31381
dtype: int64

In [8]:
file01_df.shape

(59432, 31)