In [1]:
#dependencies
%matplotlib notebook

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
import os

from datetime import datetime, timedelta

In [9]:
#functions

def calculate_age(born):
    today = date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [10]:

#create a listing of objects in the data directory
this_dir = os.listdir("data/import")

#store the number of datasets found to compare later
#len(this_dir)
numfiles = len(this_dir)

In [11]:
numfiles

13

In [12]:
#setup a counter
row = 0

for i in this_dir:
    row += 1
    #file_name = i.replace(".csv","")
    print(i)

00_subscribers.csv
01_WeightLossAndComments.csv
02_WeightLossAndComments.csv
03_WeightLossAndComments.csv
04_WeightLossAndComments.csv
05_WeightLossAndComments.csv
06_WeightLossAndComments.csv
07_WeightLossAndComments.csv
08_WeightLossAndComments.csv
09_WeightLossAndComments.csv
10_WeightLossAndComments.csv
11_WeightLossAndComments.csv
12_WeightLossAndComments.csv

In [ ]:
'''
00_subscribers.csv
01_WeightLossAndComments.csv
02_WeightLossAndComments.csv
03_WeightLossAndComments.csv
04_WeightLossAndComments.csv
05_WeightLossAndComments.csv
06_WeightLossAndComments.csv
07_WeightLossAndComments.csv
08_WeightLossAndComments.csv
09_WeightLossAndComments.csv
10_WeightLossAndComments.csv
11_WeightLossAndComments.csv
12_WeightLossAndComments.csv
'''

In [13]:
file00_path  = "data/import/00_subscribers.csv"
file01_path  = "data/import/01_WeightLossAndComments.csv"
file02_path  = "data/import/02_WeightLossAndComments.csv"
file03_path  = "data/import/03_WeightLossAndComments.csv"
file04_path  = "data/import/04_WeightLossAndComments.csv"
file05_path  = "data/import/05_WeightLossAndComments.csv"
file06_path  = "data/import/06_WeightLossAndComments.csv"
file07_path  = "data/import/07_WeightLossAndComments.csv"
file08_path  = "data/import/08_WeightLossAndComments.csv"
file09_path  = "data/import/09_WeightLossAndComments.csv"
file10_path  = "data/import/10_WeightLossAndComments.csv"
file11_path  = "data/import/11_WeightLossAndComments.csv"
file12_path  = "data/import/12_WeightLossAndComments.csv"

In [14]:
file00_df = pd.read_csv(file00_path, encoding = "ISO-8859-1")
file01_df = pd.read_csv(file01_path, encoding = "ISO-8859-1")
file02_df = pd.read_csv(file02_path, encoding = "ISO-8859-1")
file03_df = pd.read_csv(file03_path, encoding = "ISO-8859-1")
file04_df = pd.read_csv(file04_path, encoding = "ISO-8859-1")
file05_df = pd.read_csv(file05_path, encoding = "ISO-8859-1")
file06_df = pd.read_csv(file06_path, encoding = "ISO-8859-1")
file07_df = pd.read_csv(file07_path, encoding = "ISO-8859-1")
file08_df = pd.read_csv(file08_path, encoding = "ISO-8859-1")
file09_df = pd.read_csv(file09_path, encoding = "ISO-8859-1")
file10_df = pd.read_csv(file10_path, encoding = "ISO-8859-1")
file11_df = pd.read_csv(file11_path, encoding = "ISO-8859-1")
file12_df = pd.read_csv(file12_path, encoding = "ISO-8859-1")

In [15]:
file00_df.head(1)

,PID,Gender,Zip Code,Patient Since,Birth Year,User Plan,First Payment,Last Payment,Transaction Count,Total Spend,Processor,Customer Status,Clinic ID,Member Code,Member Status
0,24OesM4471,F,91311.0,10/25/2018,1962.0,wellnessunlimited,10/25/2018,12/25/2018,4.0,596.0,Stripe,New,24,WUM,Active

In [16]:
bigdata = pd.concat([file01_df, file02_df, file03_df, file04_df, file05_df, file06_df, 
file07_df, file08_df, file09_df, file10_df, file11_df, file12_df], ignore_index=True, sort=True)

In [17]:
bigdata.count()

# of Visits (W, M, L)              57910
Clinic_id                          57910
Date first visit of the month      57910
First Name                          5573
Last Name                           5573
Lbs Lost                           52908
Memb                               57908
PID                                57910
Patient_id                          5573
Session (if applicable)            31592
Weight first visit of the month    57910
Weight last visit of month         57910
last visit of month                57910
session (if applicable)            30923
dtype: int64

In [18]:
print(bigdata.columns)

Index(['# of Visits (W, M, L)', 'Clinic_id', 'Date first visit of the month',
       'First Name', 'Last Name', 'Lbs Lost', 'Memb', 'PID', 'Patient_id',
       'Session (if applicable)', 'Weight first visit of the month',
       'Weight last visit of month', 'last visit of month',
       'session (if applicable)'],
      dtype='object')

In [19]:
patientdata_fixdf = bigdata.rename(columns={
    '# of Visits (W, M, L)':'NUM_VISITS'
    , 'Clinic_id':'CLINIC_ID'
    , 'Comment first visit':'MONTHLY_INITIAL_VISIT_COMMENT'
    , 'Date first visit of the month':'MONTHLY_INITIAL_VISIT_DATE'
    , 'First Name':'FIRST_NAME'
    , 'Last Name':'LAST_NAME'
    , 'Lbs Lost':'POUNDS_LOST'
    , 'Memb':'MEMBER'
    , 'PID':'PID'
    , 'Patient_id':'PATIENT_ID'
    , 'Session (if applicable)':'MONTHLY_INITIAL_SESSION'
    , 'Weight first visit of the month':'MONTHLY_INITIAL_VISIT_WEIGHT'
    , 'Weight last visit of month':'MONTHLY_END_VISIT_WEIGHT'
    , 'comment last visit of month':'MONTHLY_END_VISIT_COMMENT'
    , 'last visit of month':'MONTHLY_END_VISIT_DATE'
    , 'session (if applicable)':'MONTHLY_END_SESSION' 
                                                })

In [20]:
patientdata_fixdf.head()

,NUM_VISITS,CLINIC_ID,MONTHLY_INITIAL_VISIT_DATE,FIRST_NAME,LAST_NAME,POUNDS_LOST,MEMBER,PID,PATIENT_ID,MONTHLY_INITIAL_SESSION,MONTHLY_INITIAL_VISIT_WEIGHT,MONTHLY_END_VISIT_WEIGHT,MONTHLY_END_VISIT_DATE,MONTHLY_END_SESSION
0,11,10,1/2/2018,NaN,NaN,-2.4,BWM,10MenD3540,NaN,NaN,139.0,141.4,1/31/2018,NaN
1,2,10,1/22/2018,NaN,NaN,0.0,WUM,10MinJ3922,NaN,1.0,180.3,180.3,1/30/2018,1.0
2,1,10,1/30/2018,NaN,NaN,0.0,WUM,10MonF0545,NaN,1.0,276.7,276.7,1/30/2018,1.0
3,15,10,1/2/2018,NaN,NaN,2.6,BWM,10MorB7586,NaN,1.0,131.6,129.0,1/31/2018,3.4
4,13,10,1/3/2018,NaN,NaN,2.8,WUM,10MorJ2003,NaN,4.1,206.4,203.6,1/31/2018,NaN

In [21]:
patientdata_fixdf.count()

NUM_VISITS                      57910
CLINIC_ID                       57910
MONTHLY_INITIAL_VISIT_DATE      57910
FIRST_NAME                       5573
LAST_NAME                        5573
POUNDS_LOST                     52908
MEMBER                          57908
PID                             57910
PATIENT_ID                       5573
MONTHLY_INITIAL_SESSION         31592
MONTHLY_INITIAL_VISIT_WEIGHT    57910
MONTHLY_END_VISIT_WEIGHT        57910
MONTHLY_END_VISIT_DATE          57910
MONTHLY_END_SESSION             30923
dtype: int64

In [22]:
patientdata_fixdf.shape

(57910, 14)

In [23]:
#patientdata_fixdf.to_csv('data\patient_bigdata.csv')

In [24]:
patientdata_fixdf.to_csv('data\weightloss.csv')

In [25]:
subscriberdata_df = file00_df.copy()
subscriberdata_df.head(1)

,PID,Gender,Zip Code,Patient Since,Birth Year,User Plan,First Payment,Last Payment,Transaction Count,Total Spend,Processor,Customer Status,Clinic ID,Member Code,Member Status
0,24OesM4471,F,91311.0,10/25/2018,1962.0,wellnessunlimited,10/25/2018,12/25/2018,4.0,596.0,Stripe,New,24,WUM,Active

In [26]:
print(subscriberdata_df.columns)

Index(['PID', 'Gender', 'Zip Code', 'Patient Since', 'Birth Year', 'User Plan',
       'First Payment', 'Last Payment', 'Transaction Count', 'Total Spend',
       'Processor', 'Customer Status', 'Clinic ID', 'Member Code',
       'Member Status'],
      dtype='object')

In [27]:
subscriberdata_fixdf = subscriberdata_df.rename(columns={
  'PID':'PID'
, 'Gender':'GENDER'
, 'Zip Code':'ZIP_CODE'
, 'Patient Since':'PATIENT_SINCE_DATE'
, 'Birth Year':'BIRTH_YEAR'
, 'User Plan':'USER_PLAN'
, 'First Payment':'FIRST_PAYMENT_DATE_PLAN'
, 'Last Payment':'LAST_PAYMENT_DATE_PLAN'
, 'Transaction Count':'TRANSACTION_COUNT'
, 'Total Spend':'TOTAL_SPENT'
, 'Processor':'PROCESSOR'
, 'Customer Status':'CUSTOMER_STATUS'
, 'Clinic ID':'CLINIC_ID'
, 'Member Code':'MEMBER_CODE'
, 'Member Status':'MEMBER_STATUS'
                                                })

In [28]:
subscriberdata_fixdf.columns

Index(['PID', 'GENDER', 'ZIP_CODE', 'PATIENT_SINCE_DATE', 'BIRTH_YEAR',
       'USER_PLAN', 'FIRST_PAYMENT_DATE_PLAN', 'LAST_PAYMENT_DATE_PLAN',
       'TRANSACTION_COUNT', 'TOTAL_SPENT', 'PROCESSOR', 'CUSTOMER_STATUS',
       'CLINIC_ID', 'MEMBER_CODE', 'MEMBER_STATUS'],
      dtype='object')

In [29]:
#subscriberdata_fixdf.to_csv('data\subscriber_bigdata.csv')

In [30]:
subscriberdata_fixdf.to_csv('data\subscriber.csv')