In [1]:
#dependencies
%matplotlib notebook

import tweepy
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
import os

from datetime import datetime, timedelta

In [2]:
#functions

def calculate_age(born):
    today = date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [8]:

#create a listing of objects in the data directory
this_dir = os.listdir("data/import")

#store the number of datasets found to compare later
#len(this_dir)
numfiles = len(this_dir)

In [9]:
numfiles

13

In [58]:
#setup a counter
row = 0

for i in this_dir:
    row += 1
    #file_name = i.replace(".csv","")
    print(i)

00_subscribers.csv
01_JAN2018WeightLossAndComments.csv
02_FEB2018WeightLossAndComments.csv
03_MAR2018WeightLossAndComments.csv
04_APR2018WeightLossAndComments.csv
05_MAY2018WeightLossAndComments.csv
06_JUN2018WeightLossAndComments.csv
07_JUL2018WeightLossAndComments.csv
08_Aug2018WeightLossAndComments.csv
09_SEP2018WeightLossAndComments.csv
10_OCT2018WeightLossAndComments.csv
11_NOV2018WeightLossAndComments.csv
12_DEC2018WeightLossAndComments.csv

In [59]:
'''
00_subscribers.csv
01_JAN2018WeightLossAndComments.csv
02_FEB2018WeightLossAndComments.csv
03_MAR2018WeightLossAndComments.csv
04_APR2018WeightLossAndComments.csv
05_MAY2018WeightLossAndComments.csv
06_JUN2018WeightLossAndComments.csv
07_JUL2018WeightLossAndComments.csv
08_Aug2018WeightLossAndComments.csv
09_SEP2018WeightLossAndComments.csv
10_OCT2018WeightLossAndComments.csv
11_NOV2018WeightLossAndComments.csv
12_DEC2018WeightLossAndComments.csv
'''

'\n00_subscribers.csv\n01_JAN2018WeightLossAndComments.csv\n02_FEB2018WeightLossAndComments.csv\n03_MAR2018WeightLossAndComments.csv\n04_APR2018WeightLossAndComments.csv\n05_MAY2018WeightLossAndComments.csv\n06_JUN2018WeightLossAndComments.csv\n07_JUL2018WeightLossAndComments.csv\n08_Aug2018WeightLossAndComments.csv\n09_SEP2018WeightLossAndComments.csv\n10_OCT2018WeightLossAndComments.csv\n11_NOV2018WeightLossAndComments.csv\n12_DEC2018WeightLossAndComments.csv\n'

In [60]:
file00_path  = "data/import/00_subscribers.csv"
file01_path  = "data/import/01_JAN2018WeightLossAndComments.csv"
file02_path  = "data/import/02_FEB2018WeightLossAndComments.csv"
file03_path  = "data/import/03_MAR2018WeightLossAndComments.csv"
file04_path  = "data/import/04_APR2018WeightLossAndComments.csv"
file05_path  = "data/import/05_MAY2018WeightLossAndComments.csv"
file06_path  = "data/import/06_JUN2018WeightLossAndComments.csv"
file07_path  = "data/import/07_JUL2018WeightLossAndComments.csv"
file08_path  = "data/import/08_Aug2018WeightLossAndComments.csv"
file09_path  = "data/import/09_SEP2018WeightLossAndComments.csv"
file10_path  = "data/import/10_OCT2018WeightLossAndComments.csv"
file11_path  = "data/import/11_NOV2018WeightLossAndComments.csv"
file12_path  = "data/import/12_DEC2018WeightLossAndComments.csv"

In [61]:
file00_df = pd.read_csv(file00_path, encoding = "ISO-8859-1")
file01_df = pd.read_csv(file01_path, encoding = "ISO-8859-1")
file02_df = pd.read_csv(file02_path, encoding = "ISO-8859-1")
file03_df = pd.read_csv(file03_path, encoding = "ISO-8859-1")
file04_df = pd.read_csv(file04_path, encoding = "ISO-8859-1")
file05_df = pd.read_csv(file05_path, encoding = "ISO-8859-1")
file06_df = pd.read_csv(file06_path, encoding = "ISO-8859-1")
file07_df = pd.read_csv(file07_path, encoding = "ISO-8859-1")
file08_df = pd.read_csv(file08_path, encoding = "ISO-8859-1")
file09_df = pd.read_csv(file09_path, encoding = "ISO-8859-1")
file10_df = pd.read_csv(file10_path, encoding = "ISO-8859-1")
file11_df = pd.read_csv(file11_path, encoding = "ISO-8859-1")
file12_df = pd.read_csv(file12_path, encoding = "ISO-8859-1")

In [62]:
file00_df.head(1)

,PID,Gender,Zip Code,Patient Since,Birth Year,User Plan,First Payment,Last Payment,Transaction Count,Total Spend,Processor,Customer Status,Clinic ID,Member Code,Member Status
0,24Oes4471,F,91311.0,2018.0,1962.0,wellnessunlimited,10/25/2018,12/25/2018,4.0,596.0,Stripe,New,24,WUM,Active

In [63]:
bigdata = pd.concat([file01_df, file02_df, file03_df, file04_df, file05_df, file06_df, 
file07_df, file08_df, file09_df, file10_df, file11_df, file12_df], ignore_index=True, sort=True)

In [64]:
bigdata.count()

# of Visits (W, M, L)              60004
Clinic_id                          60004
Date first visit of the month      59613
Lbs Lost                           60004
Memb                               60004
PID                                60004
Session (if applicable)            32267
Weight first visit of the month    59613
Weight last visit of month         59613
last visit of month                59613
session (if applicable)            31695
dtype: int64

In [65]:
print(bigdata.columns)

Index(['# of Visits (W, M, L)', 'Clinic_id', 'Date first visit of the month',
       'Lbs Lost', 'Memb', 'PID', 'Session (if applicable)',
       'Weight first visit of the month', 'Weight last visit of month',
       'last visit of month', 'session (if applicable)'],
      dtype='object')

In [66]:
patientdata_fixdf = bigdata.rename(columns={
    '# of Visits (W, M, L)':'NUM_VISITS'
    , 'Clinic_id':'CLINIC_ID'
    , 'Comment first visit':'MONTHLY_INITIAL_VISIT_COMMENT'
    , 'Date first visit of the month':'MONTHLY_INITIAL_VISIT_DATE'
    , 'First Name':'FIRST_NAME'
    , 'Last Name':'LAST_NAME'
    , 'Lbs Lost':'POUNDS_LOST'
    , 'Memb':'MEMBER'
    , 'PID':'PID'
    , 'Patient_id':'PATIENT_ID'
    , 'Session (if applicable)':'MONTHLY_INITIAL_SESSION'
    , 'Weight first visit of the month':'MONTHLY_INITIAL_VISIT_WEIGHT'
    , 'Weight last visit of month':'MONTHLY_END_VISIT_WEIGHT'
    , 'comment last visit of month':'MONTHLY_END_VISIT_COMMENT'
    , 'last visit of month':'MONTHLY_END_VISIT_DATE'
    , 'session (if applicable)':'MONTHLY_END_SESSION' 
                                                })

In [67]:
patientdata_fixdf.head()

,NUM_VISITS,CLINIC_ID,MONTHLY_INITIAL_VISIT_DATE,POUNDS_LOST,MEMBER,PID,MONTHLY_INITIAL_SESSION,MONTHLY_INITIAL_VISIT_WEIGHT,MONTHLY_END_VISIT_WEIGHT,MONTHLY_END_VISIT_DATE,MONTHLY_END_SESSION
0,3,27,01/05/18,5.6,WUM,27Mar1925,NaN,185.3,179.7,01/31/18,NaN
1,3,1,01/04/18,2.8,BWM,1Mar2397,NaN,167.9,165.1,01/26/18,NaN
2,6,10,01/08/18,2.7,BWM,10May2468,NaN,154.4,151.7,01/31/18,NaN
3,3,10,01/05/18,-0.4,BWM,10Mar3415,NaN,147.2,147.6,01/31/18,NaN
4,19,10,01/02/18,1.2,WUM,10Mar3488,4.1,242.4,241.2,01/31/18,7.4

In [68]:
patientdata_fixdf.count()

NUM_VISITS                      60004
CLINIC_ID                       60004
MONTHLY_INITIAL_VISIT_DATE      59613
POUNDS_LOST                     60004
MEMBER                          60004
PID                             60004
MONTHLY_INITIAL_SESSION         32267
MONTHLY_INITIAL_VISIT_WEIGHT    59613
MONTHLY_END_VISIT_WEIGHT        59613
MONTHLY_END_VISIT_DATE          59613
MONTHLY_END_SESSION             31695
dtype: int64

In [69]:
patientdata_fixdf.shape

(60004, 11)

In [70]:
#patientdata_fixdf.to_csv('data\patient_bigdata.csv')

In [71]:
patientdata_fixdf.to_csv('data\weightloss.csv')

In [32]:
subscriberdata_df = file00_df.copy()
subscriberdata_df.head(1)

,PID,Gender,Zip Code,Patient Since,Birth Year,User Plan,First Payment,Last Payment,Transaction Count,Total Spend,Processor,Customer Status,Clinic ID,Member Code,Member Status
0,24Oes4471,F,91311.0,2018.0,1962.0,wellnessunlimited,10/25/2018,12/25/2018,4.0,596.0,Stripe,New,24,WUM,Active

In [33]:
print(subscriberdata_df.columns)

Index(['PID', 'Gender', 'Zip Code', 'Patient Since', 'Birth Year', 'User Plan',
       'First Payment', 'Last Payment', 'Transaction Count', 'Total Spend',
       'Processor', 'Customer Status', 'Clinic ID', 'Member Code',
       'Member Status'],
      dtype='object')

In [41]:
subscriberdata_fixdf = subscriberdata_df.rename(columns={
  'PID':'PID'
, 'Gender':'GENDER'
, 'Zip Code':'ZIP_CODE'
, 'Patient Since':'PATIENT_SINCE_DATE'
, 'Birth Year':'BIRTH_YEAR'
, 'User Plan':'USER_PLAN'
, 'First Payment':'FIRST_PAYMENT_DATE_PLAN'
, 'Last Payment':'LAST_PAYMENT_DATE_PLAN'
, 'Transaction Count':'TRANSACTION_COUNT'
, 'Total Spend':'TOTAL_SPENT'
, 'Processor':'PROCESSOR'
, 'Customer Status':'CUSTOMER_STATUS'
, 'Clinic ID':'CLINIC_ID'
, 'Member Code':'MEMBER_CODE'
, 'Member Status':'MEMBER_STATUS'
                                                })

In [42]:
subscriberdata_fixdf.columns

Index(['PID', 'GENDER', 'ZIP_CODE', 'PATIENT_SINCE_DATE', 'BIRTH_YEAR',
       'USER_PLAN', 'FIRST_PAYMENT_DATE_PLAN', 'LAST_PAYMENT_DATE_PLAN',
       'TRANSACTION_COUNT', 'TOTAL_SPENT', 'PROCESSOR', 'CUSTOMER_STATUS',
       'CLINIC_ID', 'MEMBER_CODE', 'MEMBER_STATUS'],
      dtype='object')

In [39]:
#subscriberdata_fixdf.to_csv('data\subscriber_bigdata.csv')

In [43]:
subscriberdata_fixdf.to_csv('data\subscriber.csv')