In [4]:
#dependencies
%matplotlib notebook

import tweepy
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import time
import os

from datetime import datetime, timedelta

In [5]:
#functions

def calculate_age(born):
    today = date.today()
    return today.year - born.year - ((today.month, today.day) < (born.month, born.day))

In [7]:

#create a listing of objects in the data directory
this_dir = os.listdir("data/import")

#store the number of datasets found to compare later
#len(this_dir)
numfiles = len(this_dir)

In [8]:
numfiles

13

In [9]:
#setup a counter
row = 0

for i in this_dir:
    row += 1
    #file_name = i.replace(".csv","")
    print(i)

APR2018WeightLossAndComments clean.xlsx
Aug2018WeightLossAndComments clean.xlsx
DEC2018WeightLossAndComments clean.xlsx
FEB2018WeightLossAndComments clean.xlsx
JAN2018WeightLossAndComments clean.xlsx
JUL2018WeightLossAndComments clean.xlsx
JUN2018WeightLossAndComments clean.xlsx
MAR2018WeightLossAndComments clean.xlsx
MAY2018WeightLossAndComments clean.xlsx
NOV2018WeightLossAndComments clean.xlsx
OCT2018WeightLossAndComments clean.xlsx
SEP2018WeightLossAndComments clean.xlsx
subscribers data set clean.xlsx

In [17]:
'''
JAN2018WeightLossAndComments clean.xlsx
FEB2018WeightLossAndComments clean.xlsx
MAR2018WeightLossAndComments clean.xlsx
APR2018WeightLossAndComments clean.xlsx
MAY2018WeightLossAndComments clean.xlsx
JUN2018WeightLossAndComments clean.xlsx
JUL2018WeightLossAndComments clean.xlsx
Aug2018WeightLossAndComments clean.xlsx
SEP2018WeightLossAndComments clean.xlsx
OCT2018WeightLossAndComments clean.xlsx
NOV2018WeightLossAndComments clean.xlsx
DEC2018WeightLossAndComments clean.xlsx
'''

'\nJAN2018WeightLossAndComments clean.xlsx\nFEB2018WeightLossAndComments clean.xlsx\nMAR2018WeightLossAndComments clean.xlsx\nAPR2018WeightLossAndComments clean.xlsx\nMAY2018WeightLossAndComments clean.xlsx\nJUN2018WeightLossAndComments clean.xlsx\nJUL2018WeightLossAndComments clean.xlsx\nAug2018WeightLossAndComments clean.xlsx\nSEP2018WeightLossAndComments clean.xlsx\nOCT2018WeightLossAndComments clean.xlsx\nNOV2018WeightLossAndComments clean.xlsx\nDEC2018WeightLossAndComments clean.xlsx\n'

In [61]:
file00_path  = "data/export/JAN2018WeightLossAndComments clean.csv"
file01_path  = "data/export/FEB2018WeightLossAndComments clean.csv"
file02_path  = "data/export/MAR2018WeightLossAndComments clean.csv"
file03_path  = "data/export/APR2018WeightLossAndComments clean.csv"
file04_path  = "data/export/MAY2018WeightLossAndComments clean.csv"
file05_path  = "data/export/JUN2018WeightLossAndComments clean.csv"
file06_path  = "data/export/JUL2018WeightLossAndComments clean.csv"
file07_path  = "data/export/Aug2018WeightLossAndComments clean.csv"
file08_path  = "data/export/SEP2018WeightLossAndComments clean.csv"
file09_path  = "data/export/OCT2018WeightLossAndComments clean.csv"
file010_path = "data/export/NOV2018WeightLossAndComments clean.csv"
file011_path = "data/export/DEC2018WeightLossAndComments clean.csv"
fileAA_path = "data/export/subscribers data set clean.csv"

In [62]:
file00_df = pd.read_csv(file00_path)
file01_df = pd.read_csv(file01_path)
file02_df = pd.read_csv(file02_path)
file03_df = pd.read_csv(file03_path)
file04_df = pd.read_csv(file04_path)
file05_df = pd.read_csv(file05_path)
file06_df = pd.read_csv(file06_path)
file07_df = pd.read_csv(file07_path)
file08_df = pd.read_csv(file08_path)
file09_df = pd.read_csv(file09_path)
file010_df = pd.read_csv(file010_path)
file011_df = pd.read_csv(file011_path)
fileAA_df = pd.read_csv(fileAA_path)

In [63]:
file00_df.head(1)

,PID,Clinic_id,Date first visit of the month,Session (if applicable),Weight first visit of the month,Comment first visit,last visit of month,session (if applicable),Weight last visit of month,comment last visit of month,"# of Visits (W, M, L)",Memb,Lbs Lost
0,1Ker8980,1,01/05/18,NaN,171.2,"Disc exercise, and portion control. Adv on pro...",01/26/18,NaN,169.1,disc boosters.,4,BWM,2.1

In [ ]:
'''file00_df = pd.read_csv(file00_path)
file01_df = pd.read_csv(file01_path)
file02_df = pd.read_csv(file02_path)
file03_df = pd.read_csv(file03_path)
file04_df = pd.read_csv(file04_path)
file05_df = pd.read_csv(file05_path)
file06_df = pd.read_csv(file06_path)
file07_df = pd.read_csv(file07_path)
file08_df = pd.read_csv(file08_path)
file09_df = pd.read_csv(file09_path)
file010_df = pd.read_csv(file010_path)
file011_df = pd.read_csv(file011_path)
fileAA_df = pd.read_csv(fileAA_path)'''

In [79]:
bigdata = pd.concat([file01_df, file02_df, file03_df, file04_df, file05_df, file06_df, 
file07_df, file08_df, file09_df, file010_df, file011_df], ignore_index=True, sort=True)

In [80]:
bigdata.count()

# of Visits (W, M, L)              57162
Clinic_id                          57162
Comment first visit                54824
Date first visit of the month      56715
First Name                          4570
Last Name                           4570
Lbs Lost                           57162
Memb                               57162
PID                                57162
Patient_id                          4570
Session (if applicable)            31133
Weight first visit of the month    56715
Weight last visit of month         56715
comment last visit of month        55076
last visit of month                56715
session (if applicable)            30397
dtype: int64

In [81]:
print(bigdata.columns)

Index(['# of Visits (W, M, L)', 'Clinic_id', 'Comment first visit',
       'Date first visit of the month', 'First Name', 'Last Name', 'Lbs Lost',
       'Memb', 'PID', 'Patient_id', 'Session (if applicable)',
       'Weight first visit of the month', 'Weight last visit of month',
       'comment last visit of month', 'last visit of month',
       'session (if applicable)'],
      dtype='object')

In [82]:
patientdata_fixdf = bigdata.rename(columns={
    '# of Visits (W, M, L)':'NUM_VISITS'
    , 'Clinic_id':'CLINIC_ID'
    , 'Comment first visit':'MONTHLY_INITIAL_VISIT_COMMENT'
    , 'Date first visit of the month':'MONTHLY_INITIAL_VISIT_DATE'
    , 'First Name':'FIRST_NAME'
    , 'Last Name':'LAST_NAME'
    , 'Lbs Lost':'POUNDS_LOST'
    , 'Memb':'MEMBER'
    , 'PID':'PID'
    , 'Patient_id':'PATIENT_ID'
    , 'Session (if applicable)':'MONTHLY_INITIAL_SESSION'
    , 'Weight first visit of the month':'MONTHLY_INITIAL_VISIT_WEIGHT'
    , 'Weight last visit of month':'MONTHLY_END_VISIT_WEIGHT'
    , 'comment last visit of month':'MONTHLY_END_VISIT_COMMENT'
    , 'last visit of month':'MONTHLY_END_VISIT_DATE'
    , 'session (if applicable)':'MONTHLY_END_SESSION' 
                                                })

In [83]:
patientdata_fixdf.head()

,NUM_VISITS,CLINIC_ID,MONTHLY_INITIAL_VISIT_COMMENT,MONTHLY_INITIAL_VISIT_DATE,FIRST_NAME,LAST_NAME,POUNDS_LOST,MEMBER,PID,PATIENT_ID,MONTHLY_INITIAL_SESSION,MONTHLY_INITIAL_VISIT_WEIGHT,MONTHLY_END_VISIT_WEIGHT,MONTHLY_END_VISIT_COMMENT,MONTHLY_END_VISIT_DATE,MONTHLY_END_SESSION
0,2,1,Disc cont with weekly visits,02/08/18,NaN,NaN,-1.5,BWM,1Ker8980,NaN,NaN,166.3,167.8,ltm pt- weight - talked about ME basics.,02/16/18,NaN
1,6,1,"disc will r/s program on 02/19/18, disc coming...",02/02/18,NaN,NaN,2,WUM,1Man9234,NaN,NaN,195.2,193.2,weight check,02/27/18,NaN
2,16,1,Disc r/s tomorrow,02/05/18,NaN,NaN,7.3,WUM,1Rad9824,NaN,NaN,161.7,154.4,"Inadequate Weight Loss, weight loss menu today...",02/27/18,3.5
3,4,1,"reg menu day td, pt stated she's continuing to...",02/02/18,NaN,NaN,0.9,BWM29,42Bea1009,NaN,NaN,169.2,168.3,"weight checked, had prot day yesterday. Remind...",02/22/18,NaN
4,2,1,"Pt states feeling much better, disc membership...",02/13/18,NaN,NaN,-1.8,BWM,1Gib1217,NaN,NaN,190.0,191.8,Disc fluids and exercise,02/20/18,NaN

In [75]:
patientdata_fixdf.count()

NUM_VISITS                       3432
CLINIC_ID                        3432
MONTHLY_INITIAL_VISIT_COMMENT    3298
MONTHLY_INITIAL_VISIT_DATE       3409
POUNDS_LOST                      3432
MEMBER                           3432
PID                              3432
MONTHLY_INITIAL_SESSION          1678
MONTHLY_INITIAL_VISIT_WEIGHT     3409
MONTHLY_END_VISIT_WEIGHT         3409
MONTHLY_END_VISIT_COMMENT        3312
MONTHLY_END_VISIT_DATE           3409
MONTHLY_END_SESSION              1743
dtype: int64

In [84]:
patientdata_fixdf.shape

(57162, 16)

In [85]:
patientdata_fixdf.to_csv('data\patient_bigdata_00.csv')